.mainLogo{
    border: solid black 2px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
  
.flex-container > button {
    background-color: lightgray;
    margin: 10px;
    width: auto;
    height: 240px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

.flex-container > button:hover {
    background-color:rgb(150, 150, 150);
}

.flex-container > button > a > article > img{
    border: solid black 2px;
}